
*/
#m {
	width: 100%;
	height: 100%;
}
#messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	max-height: 75%;
	min-height: 75%;
	/*We just want a max height specified*/
	/*This is so the messages start internal scrolling*/
	overflow: auto;
	float: right;
}
#messages li {
	padding: 5px 10px;
}
#messages li:nth-child(odd) {
	background: #eee;
}

#indexBody {
	background-color: #fff4e6;
}

#messageDiv {
	/*float: right;*/
	border-left: 1px solid black;
	padding: 5%;
	height: 100%;
}

/*Begin Sergey's Changes*/

* {
    box-sizing: border-box;

}

.row:after {
    content: "";
    clear: both;
    display: block;
}

.videoPlayer {
	padding: 5%;
}
.long{
	width: 100%;
}
    /* For mobile phones: */
@media only screen and (max-width: 900px) {
    [class*="col-"] {
        width: 100%;
    }
}

