<!-- message container -->
<div id='messageDiv'>
	<div class="span5 offset2" id="login">
		<form class="form-inline" id='joinChat'>
        	<h4>Enter a username:</h4>
        	<input type="text" class="input-small" placeholder="Your name" id="name">
        	<input type="button" name="join" id="join" value="Join">
		</form>
    </div>

	<div id='room'>
		<h4>Users:</h4>
		<ul id="people" class="unstyled"></ul>
		<h4><strong>Chatroom:</strong></h4>
		<ul id="messages" class='list-group'></ul>
	</div>

	<form id='chatForm' action="">
		<input id="m" autocomplete="off" /><button class="btn btn-primary">Send</button>
	</form>
	<script src='/app/chat.js'></script>
</div>